/* Table container styles */
.custom-table {
    border-collapse: collapse;
    margin-top: 20px;
    color: rgb(50, 50, 67);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    text-align: center;
  }
.NewTable
{
  /* height: 100vh; */
  margin-top: 45px;
  margin-bottom: 40px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

  /* Table header styles */
  .custom-header {
    background-color: wheat;
    font-weight: bold;
    padding: 10px;
    margin: 20px;
  }
  .headofta
  {
    margin-bottom: 40px;
    margin-top: 20px;
  }
  /* Table body styles */
  .custom-row:nth-child(even) {
    background-color: white;
  }
  .custom-row:nth-child(odd) {
    background-color: whitesmoke;
  }
  
  /* Table cell styles */
  .custom-cell {
    padding: 10px;
  }
  